<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<!-- Gravar a si mesmo(a) realizando a seguinte atividade: criar um projeto de aplicação Angular utilizando StackBlitz ou outra plataforma de sua preferência (desde que o código-fonte seja publicado no GitHub) com os seguintes requisitos:

(10 pontos) O AppComponent deve apresentar um menu de navegação com links para os componentes solicitados abaixo.

(5 pontos) O app.module deve ter configuradas as rotas para os componentes solicitados abaixo.

(5 pontos) Um componente chamado “[SeuNome]Component” que apresente seus dados de identificação: nome completo, RA (registro de aluno ou matrícula) e link para o perfil do GitHub

(20 pontos) Um service chamado “[SeuNome]DisciplinasService” que permita listar, incluir e excluir uma lista de disciplinas (código, nome, diaDaSemana, horario e ementa) já inicializada com as disciplinas cursadas por você neste semestre

(20 pontos) Um componente chamado “[SeuNome]ListaComponent” que apresente ao usuário uma tabela com suas disciplinas mostrando código, nome, dia da semana e horário e um link para visualizar os detalhes da disciplina

(10 pontos) Deve haver um formulário que permita incluir uma nova disciplina

(10 pontos) Deve haver um comando em cada linha da tabela para excluir a disciplina

(20 pontos) Um componente chamado “[SeuNome]DetalhesComponent” que apresente ao usuário os detalhes de uma disciplina a partir de um link do componente anterior


Observações:

Esta atividade é individual

O vídeo deve evidenciar o desenvolvimento em si e não apenas a apresentação de um projeto pronto

A gravação deve ser feita utilizando um software de captura de tela e/ou webcam

Recomendo as extensões do Google Chrome ScreenRecorder e CamDesk para a realização da atividade, mas você está livre para utilizar os softwares de sua preferência

Peço que o vídeo tenha duração máxima de 1h e que não tenha cortes

Fique à vontade para pesquisar, comunicar-se e copiar trechos de código desde que não seja de um projeto pronto do tema solicitado


Anexar à tarefa:

O link do seu projeto no StackBlitz / GitHub

O link do seu vídeo publicado no YouTube

O link abaixo explica como deixar o seu vídeo publicado como “não listado” por questões de segurança e privacidade:
https://support.google.com/youtube/answer/157177 -->
