<h1>Avaliação P1</h1>

<nav>
  <a [routerLink]="['/enzo']">Sobre mim</a> |
  <a [routerLink]="['/disciplinas']">Disciplinas</a>
</nav>

<hr />

<router-outlet></router-outlet>

<!--

(20 pontos) Um service chamado “[SeuNome]DisciplinasService” que permita listar, incluir e excluir uma lista de disciplinas (código, nome, diaDaSemana, horario e ementa) já inicializada com as disciplinas cursadas por você neste semestre



(10 pontos) Deve haver um formulário que permita incluir uma nova disciplina


-->
